mat-table {
  width: 100%;
  overflow: hidden;
}

mat-header-cell, mat-cell {
  padding: 12px;
}

.manager-label {
  font-weight: 600;
  color: #6e6e6e;
  background-color: #cecece;
  justify-content: center;
}

.tester-label {
  justify-content: center;
}