<div class="form-container">
  <form [formGroup]="testcaseForm" (ngSubmit)="onSubmit()" class="testcase-form">
    <mat-card>
      <mat-card-title>{{ isEditMode ? 'Edit test case' : 'Create new test case' }}</mat-card-title>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="testcaseForm.get('title')?.hasError('required')">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Expected Result</mat-label>
        <textarea matInput formControlName="expectedResult" required rows="2"></textarea>
        <mat-error *ngIf="testcaseForm.get('expectedResult')?.hasError('required')">Expected result is required</mat-error>
      </mat-form-field>

      <div>
        <h2>Steps</h2>
        <mat-table mat-table [dataSource]="dataSource" class="full-width mat-elevation-z2">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let step; let i = index">{{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="step">
            <mat-header-cell *matHeaderCellDef>Step Description</mat-header-cell>
            <mat-cell *matCellDef="let step; let i = index" class="step-cell">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Enter step</mat-label>
                <input matInput [formControl]="step" />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let step; let i = index">
              <button mat-icon-button color="warn" (click)="removeStep(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['index', 'step', 'remove']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['index', 'step', 'remove'];"></mat-row>
        </mat-table>

        <div class="step-actions">
          <button mat-raised-button color="secondary" (click)="addStep()">
            <mat-icon>add</mat-icon>
            Add step
          </button>
        </div>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </mat-card>
  </form>
</div>