.mat-mdc-card {
  background-color: transparent;
  box-shadow: none;
  gap: 1.5rem;
}

.testcase-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  gap: 1.5rem;

  input, textarea {
    color: #212121;
    caret-color: #000;
  }
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.invalid-input {
  border-color: #ff0000 !important;
  border-width: 3px !important;
  background-color: #ffdddd;
}

.step-cell {
  .mat-mdc-form-field {
    padding-top: 10px;
    color: black;
  }
}

.step-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  padding: 10px;
}

.narrow-column {
  width: 40px; 
  max-width: 40px;
  white-space: nowrap;
}

.step-cell {
  width: auto;
  min-width: 350px;
  max-width: 650px
}

.remove-column {
  width: 60px;
  max-width: 60px;
  text-align: center;
}