<div class="table-container" *ngIf="users && users.length; else noUsersTemplate">
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>Projects</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.role}}</td>
                <td><i>// TODO</i></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noUsersTemplate>
    <p>No users available.</p>
</ng-template>