<div class="table-container" *ngIf="projects && projects.length; else noProjectsTemplate">
  <mat-card>
    <mat-card-title>Projects</mat-card-title>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="navigate('/project-form')">Create project</button>
    </div>

    <mat-table [dataSource]="projects" class="mat-elevation-z2">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{ project.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{ project.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{ project.createdBy }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>

<ng-template #noProjectsTemplate>
  <mat-card>
    <mat-card-content>
      <p>No projects found.</p>
    </mat-card-content>
  </mat-card>
</ng-template>