.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  gap: 1.5rem;

  input, textarea {
    color: #212121;
    caret-color: #000;
  }
}

.full-width {
  width: 100%;
}

mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

mat-form-field {
    color: #e6aaaa;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.invalid-input {
  border-color: #ff0000 !important;
  border-width: 3px !important;
  background-color: #ffdddd;
}