.mat-mdc-card {
  background-color: transparent;
  box-shadow: none;
  gap: 1.5rem;
}

.project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  gap: 1.5rem;

  input,
  textarea {
    color: #212121;
    caret-color: #000;
  }
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.invalid-input {
  border-color: #ff0000 !important;
  border-width: 3px !important;
  background-color: #ffdddd;
}

h2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.assign-testers {
  padding: 10px;
  background-color: #dbdbdb;
}

.user-text {
  color: #292929;
  margin-right: 15px;
}

.chip-remove {
  color: #292929;
}